body {
    text-align: center;
    margin-top: 12%;
    background-color: gray;
}
.choice {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 2px solid transparent;
}
.selected {
    border: 3px solid green; 
}
.loser {
    border: 3px solid red; 
}
.egal {
    border: 3px solid orange;
}
#result {
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
#explain {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}
img {
    border-radius: 20px;
}